@{
    ViewBag.Title = "Llist_Phan_Hoi";
    Layout = "~/Views/Shared/_Layout_SinhVien.cshtml";
}
@using CNTT129.Models;
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("List_Phan_Hoi", "SinhVien", FormMethod.Post, new { @class = "" }))
        {
            <div class="row mt-3">
                <div class="col-md-1">
                    Mã Phản Hồi
                </div>
                <div class="col-md-2">
                    <input class="form-control" name="ma_ph" id="ma_ph" value="@ViewBag.ma_ph" />
                </div>
                <div class="col-md-1">
                    Từ ngày
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="start_date" name="start_date" placeholder="" value="@ViewBag.start_date" />
                </div>
                <div class="col-md-1">
                    Đến ngày
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="end_date" name="end_date" placeholder="" value="@ViewBag.end_date" />
                </div>
                <div class="col-md-1">
                    Trạng thái
                </div>
                <div class="col-md-2">
                    <select class="form-control" id="trang_thai" name="trang_thai">
                        <option value="" @{var selected = ""; if (ViewBag.selected == "") { selected = "selected = 'selected'"; }} @selected>Tất cả</option>
                        <option value="0" @{selected = ""; if (ViewBag.selected == "0") { selected = "selected = 'selected'"; }} @selected>Chưa duyệt</option>
                        <option value="1" @{selected = ""; if (ViewBag.selected == "1") { selected = "selected = 'selected'"; }} @selected>Đã Duyệt</option>
                        <option value="2" @{selected = ""; if (ViewBag.selected == "3") { selected = "selected = 'selected'"; }} @selected>Đã Hủy</option>
                        <option value="3" @{selected = ""; if (ViewBag.selected == "2") { selected = "selected = 'selected'"; }} @selected>Không Duyệt</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1">
                    Loại
                </div>
                <div class="col-md-2">
                    <select class="form-control" id="loai" name="loai">
                        <option value="" @{var selected_Loai = ""; if (ViewBag.selected_Loai == "") { selected_Loai = "selected = 'selected'"; }} @selected_Loai>Tất cả</option>
                        <option value="1" @{selected_Loai = ""; if (ViewBag.selected_Loai == "1") { selected_Loai = "selected = 'selected'"; }} @selected_Loai>Hoạt Động</option>
                        <option value="2" @{selected_Loai = ""; if (ViewBag.selected_Loai == "2") { selected_Loai = "selected = 'selected'"; }} @selected_Loai>Vi Phạm</option>
                    </select>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <a class="btn btn-primary form-control" href="/SinhVien/Phan_Hoi">Thêm</a>
                </div>
                <div class="col-md-1">
                    <input class="btn btn-primary form-control" name="find" value="Tìm" type="submit" />
                </div>
            </div>
        }
        <div style="overflow-y:auto">
            <table class="table table-bordered mt-2">
                <thead>
                    <tr class="bg-primary" style="color:white;">
                        <td>STT</td>
                        <td>MÃ PH</td>
                        <td>TIÊU ĐỀ</td>
                        <td>NGÀY TẠO</td>
                        <td>Nội Dung</td>
                        <td>IDHD/IDVIPHAM</td>
                        <td>NGÀY</td>
                        <td>NGƯỜI DUYỆT</td>
                        <td>NGÀY DUYỆT</td>
                        <td>TRẠNG THÁI</td>
                        <td>THAO TÁC</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ViewData["list_phan_hoi"] != null)
                        {
                            var i = 1;
                            foreach (var item in ViewData["list_phan_hoi"] as List<PHAN_HOI>)
                            {
                                DateTime NGAYTAO = DateTime.Parse(item.NGAYTAO);
                                var ngayd = "";
                                if (item.NGAYDUYET != null && item.NGAYDUYET != "")
                                {
                                    DateTime NGAYDUYET = DateTime.Parse(item.NGAYDUYET);
                                    ngayd = NGAYDUYET.ToString("dd/MM/yyyy");
                                }
                                var ngaytao = NGAYTAO.ToString("dd/MM/yyyy");
                                DateTime NGAY = DateTime.Parse(item.NGAY);
                                var ngay = NGAY.ToString("dd/MM/yyyy");
                                <tr>
                                    <td>@i</td>
                                    <td>@item.MA_PHAN_HOI</td>
                                    <td>@item.TIEUDE</td>
                                    <td>@ngaytao</td>
                                    <td>@item.NOIDUNG</td>
                                    <td>@item.MA</td>
                                    <td>@ngay</td>
                                    <td>@item.NGUOIDUYET</td>
                                    <td>@ngayd</td>
                                    <td>
                                        @if (@item.TRANGTHAI == "0")
                                        {
                                            <span>Chưa duyệt</span>
                                        }
                                        @if (@item.TRANGTHAI == "1")
                                        {
                                            <span>Đã duyệt</span>
                                        }
                                        @if (@item.TRANGTHAI == "3")
                                        {
                                            <span>Sinh viên đã hủy</span>
                                        }
                                        @if (@item.TRANGTHAI == "2")
                                        {
                                            <span>Từ chối</span>
                                        }
                                    </td>
                                    <td>
                                        @if (@item.TRANGTHAI == "0")
                                        {
                                            <button type="button" class="btn btn-danger" onclick="huy(@item.ID_PHAN_HOI,'@item.MA_PHAN_HOI')">Hủy</button>
                                        }
                                    </td>
                                </tr>
                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="11" class="text-center">
                                    Bạn chưa gửi phản hồi
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#start_date').datepicker({ format: 'dd/mm/yyyy', todayHighlight: true, }).datepicker();
        $('#end_date').datepicker({ format: 'dd/mm/yyyy', todayHighlight: true, }).datepicker();
    });
    function huy(id, name) {
        var dataList = [];
        var data = {
            ID: id+"",
        };
        var title = "";
        dataList.push(data);
        var dialog = bootbox.dialog({
            title: title + ' Hủy phản hồi',
            message: 'Bạn có muốn hủy phản hồi ' + name + '"?',
            buttons: {
                ok: {
                    label: "Đồng ý",
                    className: 'btn-primary input-sm',
                    callback: function () {
                        $.ajax({
                            url: '/SinhVien/updatePhanHoi',
                            data: { cartModel: JSON.stringify(dataList) },
                            dataType: 'json',
                            type: 'POST',
                            success: function (res) {
                                location.reload();
                            }
                        })
                    }
                },
                cancel: {
                    label: "Bỏ qua",
                    className: 'btn-default input-sm',
                    callback: function () {
                        console.log('Bỏ qua');
                    }
                }
            }
        });
    }
</script>
