@{
    ViewBag.Title = "GiangVien";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using CNTT129.Models;
@{
    KHOA khoa = new KHOA();
    VAI_TRO vai_tro = new VAI_TRO();
    var menu_khoa = khoa.find("", "", "0");
    var menu_vt = vai_tro.find("", "", "0");

    LOAIQUYENOFGV quyen = new LOAIQUYENOFGV();
}
<div class="border-bottom-0">
    <ul class="nav nav-tabs" id="">
        <li class="nav-item">
            <a id="tab-1" class="nav-link active" href="/Admin/GIANGVIEN">Danh mục giảng viên</a>
        </li>
    </ul>
</div>
@using (Html.BeginForm("GiangVien", "Admin", FormMethod.Post, new { @class = "" }))
{
    <div class="row mt-3">
        <div class="col-md-1">
            Mã GV
        </div>
        <div class="col-md-2">
            <input class="form-control" name="ma_gv" id="ma_gv" value="@ViewBag.ma_gv" />
        </div>
        <div class="col-md-1">
            Tên GV
        </div>
        <div class="col-md-2">
            <input class="form-control" name="ten_gv" id="ten_gv" value="@ViewBag.ten_gv" />
        </div>
        <div class="col-md-1">
            Trạng thái
        </div>
        <div class="col-md-2">
            <select class="form-control" id="trang_thai" name="trang_thai">
                <option value="" @{var selected = ""; if (ViewBag.selected == "") { selected = "selected = 'selected'"; }} @selected>Tất cả</option>
                <option value="0" @{selected = ""; if (ViewBag.selected == "0") { selected = "selected = 'selected'"; }} @selected>Chưa khóa</option>
                <option value="1" @{selected = ""; if (ViewBag.selected == "1") { selected = "selected = 'selected'"; }} @selected>Đã khóa</option>
            </select>
        </div>
        <div class="col-md-1">
            Khoa
        </div>
        <div class="col-md-2">
            <select class="form-control" id="khoa" name="khoa">
                <option value="0" @{var selected_khoa = ""; if (ViewBag.selected_khoa == "") { selected_khoa = "selected = 'selected'"; }} @selected_khoa>Tất cả</option>
                @{
    foreach (var item in menu_khoa)
    {
        <option value="@item.ID_KHOA" @{selected_khoa = ""; if (ViewBag.selected_khoa == item.ID_KHOA) { selected_khoa = "selected = 'selected'"; }} @selected_khoa>@item.TEN_KHOA</option>
    }
                }
            </select>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-1">
            Vai trò
        </div>
        <div class="col-md-2">
            <select class="form-control" id="vai_tro" name="vai_tro">
                <option value="0" @{var selected_vt = ""; if (ViewBag.selected_vt == "") { selected_vt = "selected = 'selected'"; }} @selected_vt>Tất cả</option>
                @{
    foreach (var item in menu_vt)
    {
        <option value="@item.ID_VAI_TRO" @{selected_vt = ""; if (ViewBag.selected_vt == item.ID_VAI_TRO) { selected_vt = "selected = 'selected'"; }} @selected_vt>@item.TEN_VAI_TRO</option>
    }
                }
            </select>
        </div>
        <div class="col-md-1">
            <input class="btn btn-primary form-control" name="find" value="Tìm" type="submit" />
        </div>
    </div>
}
<div class="row mt-2">
    <div class="col-md-4 text-right">
    </div>
    <div class="col-md-4 text-right">
    </div>
    <div class="col-md-4 text-right">
        @{
            if (quyen.getDataQuyenGV(Session["id_gv"].ToString(), "them_moi_gv") == 1 || Session["id_gv"].ToString().Equals("1"))
            {
                <button class="btn btn-primary" id="them" onclick="showFromGiangVien(0)">Thêm mới</button>
            }
        }

    </div>
</div>

<div id="khung" class=" mt-2">
    <div id="list">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>STT</td>
                    <td>Mã</td>
                    <td>Tên</td>
                    <td>Trạng thái</td>
                    <td>Thao tác</td>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewData["data"] != null)
                    {
                        int i = 1;
                        foreach (var std in ViewData["data"] as IList<CNTT129.Models.GIANG_VIEN>)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@std.MAGV</td>
                                <td>@std.TENGV</td>
                                <td>
                                    @{
                            if (std.disabled == 0)
                            {
                                <span>Hoạt động</span>
                            }
                            else
                            {
                                <span>Đã khóa</span>
                            }
                                    }
                                </td>
                                <td>
                                    @{
                            if (quyen.getDataQuyenGV(Session["id_gv"].ToString(), "sua_gv") == 1 || Session["id_gv"].ToString().Equals("1"))
                            {
                                <button type="button" class="btn btn-primary" onclick="showFromGiangVien(@std.ID_GV)">Sửa</button>
                            }
                                    }

                                    @{
                            if (quyen.getDataQuyenGV(Session["id_gv"].ToString(), "khoa_mo_gv") == 1 || Session["id_gv"].ToString().Equals("1"))
                            {
                                if (std.disabled == 0)
                                {
                                    <button type="button" class="btn btn-danger" onclick="showFromDisbledGV(@std.ID_GV,'@std.TENGV.ToString()',1)">Khóa</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-success" onclick="showFromDisbledGV(@std.ID_GV,'@std.TENGV.ToString()',0)">Mở khóa</button>
                                }
                            }
                            if (quyen.getDataQuyenGV(Session["id_gv"].ToString(), "phan_quyen_gv") == 1 || Session["id_gv"].ToString().Equals("1"))
                            {
                                <a href="/Admin/LOAIQUYENOFGV/?id_gv=@std.ID_GV&id_vai_tro=@std.idvaitro">Phân quyền</a>
                            }
                                    }
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>

    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="editDivModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id='editDiv' class="">
                    <input id="id_gv" class="form-control d-none" />
                    <div class="row">
                        <div class="col-2">
                            Mã
                        </div>
                        <div class="col-4">
                            <input id="code_gv" class="form-control" placeholder="Mã Giảng viên tự động tạo" />
                        </div>
                        <div class="col-2">
                            Tên
                        </div>
                        <div class="col-4">
                            <input id="name_gv" class="form-control" placeholder="Nhập tên" />
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-2">
                            Địa chỉ
                        </div>
                        <div class="col-4">
                            <input id="dia_chi" class="form-control" placeholder="Nhập Địa chỉ" />
                        </div>
                        <div class="col-2">
                            Số điện thoại
                        </div>
                        <div class="col-4">
                            <input id="so_dt" class="form-control" placeholder="Nhập Số điện thoại" />
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-2">
                            Email
                        </div>
                        <div class="col-4">
                            <input id="email" class="form-control" placeholder="Nhập Email" />
                        </div>
                        <div class="col-2">
                            Ngày sinh
                        </div>
                        <div class="col-4 date">
                            <div class="form-group">
                                <div class='input-group date' id='datepicker'>
                                    <input id="ngay_sinh" type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            @*<input  class="form-control datepicker" placeholder=""/>*@
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-2">
                            Khoa
                        </div>
                        <div class="col-4">
                            <select class="form-control" id="khoa_edit" name="khoa_edit">
                                @{
                                    foreach (var item in menu_khoa)
                                    {
                                        <option value="@item.ID_KHOA">@item.TEN_KHOA</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-2">
                            Vai trò
                        </div>
                        <div class="col-4">
                            <select class="form-control" id="vai_tro_edit" name="vai_tro_edit">
                                @{
                                    foreach (var item in menu_vt)
                                    {
                                        <option value="@item.ID_VAI_TRO">@item.TEN_VAI_TRO</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-2">
                            Mật khẩu
                        </div>
                        <div class="col-4">
                            <input id="mat_khau" type="password" class="form-control" placeholder="" />
                        </div>
                        <div class="col-2">
                            Nhập lại mật khẩu
                        </div>
                        <div class="col-4">
                            <input id="mat_khau2" type="password" class="form-control" placeholder="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span id='dialog-err' class='error-msg'></span>
                <button class="btn" onclick="save()">Save</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ngay_sinh').datepicker(
            {
                format: 'dd/mm/yyyy',
                todayHighlight: true,
            }
        );
    })
    function showFromGiangVien(id) {
        $('#dialog-err').text("");
        var dataList = [];
        var data = {
            id: id,
        };
        dataList.push(data);
        $.ajax({
            url: '/Admin/findGV',
            data: { cartModel: JSON.stringify(dataList) },
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                var _title = "Sửa giảng viên";
                $('#code_gv').val("");
                $('#name_gv').val("");
                $('#dia_chi').val("");
                $('#so_dt').val("");
                $('#email').val("");
                $('#ngay_sinh').datepicker({ format: 'dd/mm/yyyy', todayHighlight: true, }).datepicker('update', new Date());
                $('#mat_khau').val("");
                $('#mat_khau2').val("");
                $('#id_gv').val(id);
                document.getElementById("code_gv").disabled = true;
                if (id == "0") {
                    _title = "Thêm mới";
                }
                if (res.res.length > 0) {
                    $('#code_gv').val(res.res[0].MAGV);
                    $('#name_gv').val(res.res[0].TENGV);
                    $('#dia_chi').val(res.res[0].dc);
                    $('#so_dt').val(res.res[0].SDT);
                    $('#email').val(res.res[0].email);
                    $('#datepicker').datepicker({ format: 'dd/mm/yyyy', todayHighlight: true, }).datepicker('update', new Date(res.res[0].NGAYSINH));
                    $("#khoa_edit").val(res.res[0].idkhoa).change();
                }
                $('#editDivModal').modal('show');
                $('#editDivModal #myModalLabel').html(_title);
            }
        })
    }
    function save() {
        var dataList = [];
        if ($('#name_gv').val().trim() == "" || $('#dia_chi').val().trim() == "" || $('#so_dt').val().trim() == "" || $('#email').val().trim() == "" || $('#mat_khau').val().trim() == "" || $('#mat_khau2').val().trim() == "" || $('#ngay_sinh').val().trim() == "") {
            $('#dialog-err').text("Vui lòng điền đủ thông tin");
            return;
        }
        if ($('#mat_khau').val().trim() != $('#mat_khau2').val().trim()) {
            $('#dialog-err').text("Vui lòng nhập mật khẩu giống nhau");
            return;
        }
        if ($('#so_dt').val().trim().length < 10 || $('#so_dt').val().trim().length > 10) {
            $('#dialog-err').text("Số điện thoại phải đủ 10 ký tự");
            return;
        }
        var date = new Date();
        var date_bith = $('#ngay_sinh').val().split("/");
        if (date.getFullYear() - date_bith[2] < 18) {
            $('#dialog-err').text("Ngày sinh phải lớn hơn 18 tuổi");
            return;
        }
        if ($('#mat_khau').val().trim().length < 5) {
            $('#dialog-err').text("Mật khẩu phải đủ 5 ký tự");
            return;
        }
        if (checkEmail() == false) {
            $('#dialog-err').text("Email sai định dạng");
            return;
        }
        var data = {
            ID: $('#id_gv').val(),
            MA: $('#code_gv').val(),
            TEN: $('#name_gv').val(),
            DC: $('#dia_chi').val(),
            SDT: $('#so_dt').val(),
            email: $('#email').val(),
            mat_khau: $('#mat_khau').val(),
            idkhoa: $('#khoa_edit option:selected').val(),
            idvai_tro: $('#vai_tro_edit option:selected').val(),
            ngay_sinh: date_bith[2] + '/' + date_bith[1] + '/' + date_bith[0]
        };
        dataList.push(data);
        $.ajax({
            url: '/Admin/saveGV',
            data: { cartModel: JSON.stringify(dataList) },
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                if (res.res == 0) {
                    $('#dialog-err').text("Đã xảy ra lỗi");
                } else if (res.res == 2) {
                    $('#dialog-err').text("Mã giảng viên đã tồn tại");
                }
                else {
                    location.reload();
                    $('#editDivModal').modal('hide');
                }
            }
        })
    }

    function showFromDisbledGV(id, name, disabled) {
        var dataList = [];
        var data = {
            ID: id,
            disabled: disabled.toString()
        };
        var title = "";
        if (disabled == 1) {
            title = "Khóa";
        } else {
            title = "Mở khóa";
        }
        dataList.push(data);
        var dialog = bootbox.dialog({
            title: title + ' User giảng viên',
            message: 'Bạn có muốn ' + title + ' User giảng viên "' + name + '"?',
            buttons: {
                ok: {
                    label: "Đồng ý",
                    className: 'btn-primary input-sm',
                    callback: function () {
                        $.ajax({
                            url: '/Admin/updateGV',
                            data: { cartModel: JSON.stringify(dataList) },
                            dataType: 'json',
                            type: 'POST',
                            success: function (res) {
                                location.reload();
                            }
                        })
                    }
                },
                cancel: {
                    label: "Bỏ qua",
                    className: 'btn-default input-sm',
                    callback: function () {
                        console.log('Bỏ qua');
                    }
                }
            }
        });
    }
</script>
