@{
    ViewBag.Title = "Khoa";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using CNTT129.Models;
@{
    LOAIQUYENOFGV quyen = new LOAIQUYENOFGV();
}
<div class="border-bottom-0">
    <ul class="nav nav-tabs" id="">
        <li class="nav-item">
            <a id="tab-1" class="nav-link active" href="/Admin/KHOA">Danh mục đơn vị</a>
        </li>
    </ul>
</div>
@using (Html.BeginForm("Khoa", "Admin", FormMethod.Post, new { @class = "" }))
{
    <div class="row mt-3">
        <div class="col-md-1">
            Mã
        </div>
        <div class="col-md-2">
            <input class="form-control" name="khoa_code" id="khoa_code" value="@ViewBag.khoa_code"/>
        </div>
        <div class="col-md-1">
            Tên
        </div>
        <div class="col-md-2">
            <input class="form-control" name="khoa_name" id="khoa_name" value="@ViewBag.khoa_name"/>
        </div>
        <div class="col-md-1">
            Trạng thái
        </div>
        <div class="col-md-2">
            <select class="form-control" id="trang_thai" name="trang_thai">
                <option value="" @{var selected = ""; if (ViewBag.selected == "") { selected = "selected = 'selected'"; }} @selected>Tất cả</option>
                <option value="0" @{selected = ""; if (ViewBag.selected == "0") { selected = "selected = 'selected'"; }} @selected>Chưa khóa</option>
                <option value="1" @{selected = ""; if (ViewBag.selected == "1") { selected = "selected = 'selected'"; }} @selected>Đã khóa</option>
            </select>
        </div>
        <div class="col-md-1">
            <input class="btn btn-primary form-control" name="find" value="Tìm" type="submit" />
        </div>
    </div>
}
<div class="row mt-2">
    <div class="col-md-4 text-right">
    </div>
    <div class="col-md-4 text-right">
    </div>
    <div class="col-md-4 text-right">
        @{
            if (quyen.getDataQuyenGV(Session["id_gv"].ToString(), "them_moi_khoa") == 1 || Session["id_gv"].ToString().Equals("1"))
            {
                <button class="btn btn-primary" id="them" onclick="showFromKhoa(0)">Thêm mới</button>
            }
        }
    </div>
</div>
<div id="khung" class=" mt-2">
    <div id="list">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>STT</td>
                    <td>Mã</td>
                    <td>Tên</td>
                    <td>Trạng thái</td>
                    <td>Thao tác</td>
                </tr>
            </thead>
            <tbody>
                @{
                    var data = ViewData["data"];
                    if (ViewData["data"] != null)
                    {
                        int i = 1;
                        foreach (var std in ViewData["data"] as IList<CNTT129.Models.KHOA>)
                        {
                    <tr>
                        <td>@i</td>
                        <td>@std.MA_KHOA</td>
                        <td>@std.TEN_KHOA</td>
                        <td>
                            @{
                            if (std.disabled == 0)
                            {
                                <span>Hoạt động</span>
                            }
                            else
                            {
                                <span>Đã khóa</span>
                            }
                            }
                        </td>
                        <td>
                            @{
                            if (quyen.getDataQuyenGV(Session["id_gv"].ToString(), "sua_khoa") == 1 || Session["id_gv"].ToString().Equals("1"))
                            {
                                <button type="button" class="btn btn-primary" onclick="showFromKhoa(@std.ID_KHOA)">Sửa</button>
                            }
                            }
                           
                            @{
                            if (quyen.getDataQuyenGV(Session["id_gv"].ToString(), "khoa_mo_khoa") == 1 || Session["id_gv"].ToString().Equals("1"))
                            {
                                if (std.disabled == 0)
                                {
                                    <button type="button" class="btn btn-danger" onclick="showFromDisbledKhoa(@std.ID_KHOA,'@std.TEN_KHOA.ToString()',1)">Khóa</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-success" onclick="showFromDisbledKhoa(@std.ID_KHOA,'@std.TEN_KHOA.ToString()',0)">Mở khóa</button>
                                }
                            }

                            }
                        </td>
                    </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>

    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="editDivModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id='editDiv' class="">
                    <input id="id_khoa" class="form-control d-none" />
                    <div class="row">
                        <div class="col-2">
                            Mã
                        </div>
                        <div class="col-4">
                            <input id="ma_khoa" class="form-control" placeholder="Nhập mã" />
                        </div>
                        <div class="col-2">
                            Tên
                        </div>
                        <div class="col-4">
                            <input id="ten_khoa" class="form-control" placeholder="Nhập tên" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span id='dialog-err' class='error-msg'></span>
                <button class="btn" onclick="save()">Save</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function showFromKhoa(id) {
        $('#dialog-err').text("");
        var dataList = [];
        var data = {
            ID_KHOA: id,
        };
        dataList.push(data);
        $.ajax({
            url: '/Admin/findKhoa',
            data: { cartModel: JSON.stringify(dataList) },
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                var _title = "Sửa khoa";
                $('#ten_khoa').val("");
                $('#ma_khoa').val("");
                document.getElementById("ma_khoa").disabled = true;
                $('#id_khoa').val(id);
                if (id == 0) {
                    _title = "Thêm mới";
                    document.getElementById("ma_khoa").disabled = false;
                }
                if (res.res.length > 0) {
                    $('#ten_khoa').val(res.res[0].TEN_KHOA);
                    $('#ma_khoa').val(res.res[0].MA_KHOA);
                }
                $('#editDivModal').modal('show');
                $('#editDivModal #myModalLabel').html(_title);
            }
        })
    }
    function save() {
        var dataList = [];
        if ($('#ten_khoa').val().trim() == "" || $('#ma_khoa').val().trim() == "") {
            $('#dialog-err').text("Vui lòng điền đủ thông tin");
            return;
        }
        var data = {
            TEN_KHOA: $('#ten_khoa').val(),
            MA_KHOA: $('#ma_khoa').val(),
            ID_KHOA: $('#id_khoa').val(),
        };
        dataList.push(data);
        $.ajax({
            url: '/Admin/saveKhoa',
            data: { cartModel: JSON.stringify(dataList) },
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                if (res.res == 0) {
                    $('#dialog-err').text("Đã xảy ra lỗi");
                } else if (res.res == 2) {
                    $('#dialog-err').text("Mã khoa đã tồn tại");
                }
                else {
                    location.reload();
                    $('#editDivModal').modal('hide');
                }
            }
        })
    }
    function showFromDisbledKhoa(id, name, disabled) {
        var dataList = [];
        var data = {
            ID_KHOA: id,
            disabled: disabled.toString()
        };
        var title = "";
        if (disabled == 1) {
            title = "Khóa";
        } else {
            title = "Mở khóa";
        }
        dataList.push(data);
        var dialog = bootbox.dialog({
            title: title + ' vai trò',
            message: 'Bạn có muốn ' + title + ' Khoa "' + name + '"?',
            buttons: {
                ok: {
                    label: "Đồng ý",
                    className: 'btn-primary input-sm',
                    callback: function () {
                        $.ajax({
                            url: '/Admin/updateKhoa',
                            data: { cartModel: JSON.stringify(dataList) },
                            dataType: 'json',
                            type: 'POST',
                            success: function (res) {
                                location.reload();
                            }
                        })
                    }
                },
                cancel: {
                    label: "Bỏ qua",
                    className: 'btn-default input-sm',
                    callback: function () {
                        console.log('Bỏ qua');
                    }
                }
            }
        });
    }
</script>