@{
    ViewBag.Title = "NOIQUY";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using CNTT129.Models;
@{
    LOAIQUYENOFGV quyen = new LOAIQUYENOFGV();
}
<div class="border-bottom-0">
    <ul class="nav nav-tabs" id="">
        <li class="nav-item">
            <a id="tab-1" class="nav-link active" href="/Admin/NOIQUY">Danh mục nội quy</a>
        </li>
    </ul>
</div>
@using (Html.BeginForm("NOIQUY", "Admin", FormMethod.Post, new { @class = "" }))
{
    <div class="row mt-3">
        <div class="col-md-1">
            Mã nội quy
        </div>
        <div class="col-md-2">
            <input class="form-control" name="noi_quy_code" id="noi_quy_code" value="@ViewBag.noi_quy_code" />
        </div>
        <div class="col-md-1">
            Tên nội quy
        </div>
        <div class="col-md-2">
            <input class="form-control" name="noi_quy_name" id="noi_quy_name" value="@ViewBag.noi_quy_name" />
        </div>
        <div class="col-md-1">
            Trạng thái
        </div>
        <div class="col-md-2">
            <select class="form-control" id="trang_thai" name="trang_thai">
                <option value="" @{var selected = ""; if (ViewBag.selected == "") { selected = "selected = 'selected'"; }} @selected>Tất cả</option>
                @{
                }
                <option value="0" @{selected = ""; if (ViewBag.selected == "0") { selected = "selected = 'selected'"; }} @selected>Chưa khóa</option>
                <option value="1" @{selected = ""; if (ViewBag.selected == "1") { selected = "selected = 'selected'"; }} @selected>Đã khóa</option>
            </select>
        </div>
        <div class="col-md-1">
            <input class="btn btn-primary" name="find" value="Tìm" type="submit" />
        </div>
    </div>
}
<div class="row mt-2">
    <div class="col-md-4 text-right">
    </div>
    <div class="col-md-4 text-right">
    </div>
    <div class="col-md-4 text-right">
        @{
            if (quyen.getDataQuyenGV(Session["id_gv"].ToString(), "them_noi_quy") == 1 || Session["id_gv"].ToString().Equals("1"))
            {
                <button class="btn btn-primary" id="them" onclick="showFromNoiQuy(0)">Thêm mới</button>
            }
        }
    </div>
</div>
<div id="khung" class=" mt-2">
    <div id="list">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>STT</td>
                    <td>Mã</td>
                    <td>Tên</td>
                    <td>Điểm</td>
                    <td>Trạng thái</td>
                    <td>Thao tác</td>
                </tr>
            </thead>
            <tbody>
                @{
                    var data = ViewData["data"];
                    if (ViewData["data"] != null)
                    {
                        int i = 1;
                        foreach (var std in ViewData["data"] as IList<CNTT129.Models.NOI_QUY>)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@std.CODE_NOI_QUY</td>
                                <td>@std.TEN_NOI_QUY</td>
                                <td>@std.DIEM</td>
                                <td>
                                    @{
                            if (std.disabled == 0)
                            {
                                <span>Hoạt động</span>
                            }
                            else
                            {
                                <span>Đã khóa</span>
                            }
                                    }
                                </td>
                                <td>
                                    @{
                            if (quyen.getDataQuyenGV(Session["id_gv"].ToString(), "sua_noi_quy") == 1 || Session["id_gv"].ToString().Equals("1"))
                            {
                                <button type="button" class="btn btn-primary" onclick="showFromNoiQuy(@std.ID_NOI_QUY)">Sửa</button>
                            }
                                    }
                                    @{
                            if (quyen.getDataQuyenGV(Session["id_gv"].ToString(), "khoa_mo_noi_quy") == 1 || Session["id_gv"].ToString().Equals("1"))
                            {
                                if (std.disabled == 0)
                                {
                                    <button type="button" class="btn btn-danger" onclick="showFromDisbledNoiQuy(@std.ID_NOI_QUY,'@std.TEN_NOI_QUY.ToString()',1)">Khóa</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-success" onclick="showFromDisbledNoiQuy(@std.ID_NOI_QUY,'@std.TEN_NOI_QUY.ToString()',0)">Mở khóa</button>
                                }
                            }
                                    }
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>

    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="editDivModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id='editDiv' class="">
                    <input id="id_nq" class="form-control d-none" />
                    <div class="row">
                        <div class="col-2">
                            Mã NQ
                        </div>
                        <div class="col-4">
                            <input id="ma_nq" class="form-control" placeholder="Nhập mã nội quy" />
                        </div>
                        <div class="col-2">
                            Tên NQ
                        </div>
                        <div class="col-4">
                            <input id="ten_nq" class="form-control" placeholder="Nhập tên nội quy" />
                        </div>
                        <div class="col-2 mt-2">
                            Điểm trừ
                        </div>
                        <div class="col-4 mt-2">
                            <input id="diem" class="form-control" placeholder="Nhập điểm trừ" type="number" min="0" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span id='dialog-err' class='error-msg'></span>
                <button class="btn" onclick="save()">Save</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function showFromNoiQuy(id) {
        $('#dialog-err').text("");
        var dataList = [];
        var data = {
            ID_NOI_QUY: id,
        };
        dataList.push(data);
        $.ajax({
            url: '/Admin/findNoiQuy',
            data: { cartModel: JSON.stringify(dataList) },
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                var _title = "Sửa nội quy";
                $('#ma_nq').val("");
                $('#ten_nq').val("");
                $('#diem').val(0);
                document.getElementById("ma_nq").disabled = true;
                $('#id_nq').val(id);
                if (id == 0) {
                    _title = "Thêm mới";
                    document.getElementById("ma_nq").disabled = false;
                }
                if (res.res.length > 0) {
                    $('#ten_nq').val(res.res[0].TEN_NOI_QUY);
                    $('#ma_nq').val(res.res[0].CODE_NOI_QUY);
                    $('#diem').val(res.res[0].DIEM);
                }
                $('#editDivModal').modal('show');
                $('#editDivModal #myModalLabel').html(_title);
            }
        })
    }
    function save() {
        var dataList = [];
        if ($('#ten_nq').val().trim() == "" || $('#ma_nq').val().trim() == "" || $('#diem').val().trim() == "") {
            $('#dialog-err').text("Vui lòng điền đủ thông tin");
            return;
        }
        if ($('#diem').val().trim() <= 0) {
            $('#dialog-err').text("Điểm phải lớn hơn 0");
            return;
        }
        var data = {
            TEN_NOI_QUY: $('#ten_nq').val(),
            CODE_NOI_QUY: $('#ma_nq').val(),
            ID_NOI_QUY: $('#id_nq').val(),
            DIEM: $('#diem').val(),
        };
        dataList.push(data);
        $.ajax({
            url: '/Admin/saveNQ',
            data: { cartModel: JSON.stringify(dataList) },
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                if (res.res == 0) {
                    $('#dialog-err').text("Đã xảy ra lỗi");
                } else if (res.res == 2) {
                    $('#dialog-err').text("Mã nội quy đã tồn tại");
                }
                else {
                    location.reload();
                    $('#editDivModal').modal('hide');
                }
            }
        })
    }
    function showFromDisbledNoiQuy(id, name, disabled) {
        var dataList = [];
        var data = {
            ID_NOI_QUY: id,
            disabled: disabled.toString()
        };
        var title = "";
        if (disabled == 0) {
            title = "Mở Khóa";
        } else {
            title = "Khóa";
        }
        dataList.push(data);
        var dialog = bootbox.dialog({
            title: title + ' Nội quy',
            message: 'Bạn có muốn ' + title + ' Nội quy "' + name + '"?',
            buttons: {
                ok: {
                    label: "Đồng ý",
                    className: 'btn-primary input-sm',
                    callback: function () {
                        $.ajax({
                            url: '/Admin/updateNQ',
                            data: { cartModel: JSON.stringify(dataList) },
                            dataType: 'json',
                            type: 'POST',
                            success: function (res) {
                                location.reload();
                            }
                        })
                    }
                },
                cancel: {
                    label: "Bỏ qua",
                    className: 'btn-default input-sm',
                    callback: function () {
                        console.log('Bỏ qua');
                    }
                }
            }
        });
    }
</script>

